body {
    font-family: 'Chicle', cursive;
    font-size: 30px;
}
.name-page {
	width: 30%;
	float: left;
	border: 1px solid gray;
	height: 600px;
	border-radius: 10px 0 0 10px;
    position: relative;
    font-size: 70%;
}
.book-content {
	width: 70%;
	float: left;
	border: 1px solid gray;
	height: 600px;
	border-radius: 0 10px 10px 0;
	padding: 20px;
}
#search {
    max-height: 30px;
}
#search-by-name {
    display: block;
    margin: 0 auto;
    font-size: 1rem;    
}
#full-name {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.transfer {
    background-image: url(icons/torrent-icon.png);
    height: 20px;
    width: 20px;
}
.remove {
    background-image: url(icons/delete.png);
    height: 20px;
    width: 20px;
}
.edit {
    background-image: url(icons/edit-validated-icon.png);
    height: 20px;
    width: 20px;
}
.error-message {
    font-size: 18px;
    margin-left: 10px;
}
.add-group {
    margin-left: 25px;
    margin-top: 10px;
}
.clickable {
    cursor: pointer;
}
#add-contact,
#add-group {
    display: block;
    margin: 0 auto;
}
#group-list {
    display: block;
    margin: 0 auto;
}

#names-list {
    margin-left: 0;
    padding-left: 25px;
}
#group-add {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 1rem;
}
.found-name {
    color: green;
    font-weight: bold;
}
.not-found-name {
    color: black;
    font-weight: normal;
}
.search-pos {
    display: "";
}
.search-neg {
    display: none;
}
