body {
    font-family: 'Chicle', cursive;
    font-size: 30px;
}
.name-page {
	width: 30%;
	float: left;
	border: 1px solid gray;
	height: 600px;
	border-radius: 10px 0 0 10px;
    position: relative;
    font-size: 70%;
}
.book-content {
	width: 70%;
	float: left;
	border: 1px solid gray;
	height: 600px;
	border-radius: 0 10px 10px 0;
	padding: 20px;
}
#search {
    max-height: 30px;
}
.transfer {
    background-image: url(icons/torrent-icon.png);
    height: 20px;
    width: 20px;
}
.remove {
    background-image: url(icons/delete.png);
    height: 20px;
    width: 20px;
}
.edit {
    background-image: url(icons/edit-validated-icon.png);
    height: 20px;
    width: 20px;
}
.error-message {
    font-size: 18px;
    margin-left: 10px;
}
.add-group {
    margin-left: 25px;
    margin-top: 10px;
}
.clickable {
    cursor: pointer;
}
#add-contact,
#add-group {
    width: 200px;
}
#group-list {
    min-height: 70px;
    min-width: 250px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
